
#home b {
  height: 1px;
  width: 1px;
  background: yellow;
  z-index: 10;
}

#home b:before {
  content: '';
  background: rgba(0,50,200,0.4);
  display: block;
  height: 1px;
  width: 1px;
}

#home.bt b:before {
  border-radius: 9999px;/*huge*/

  -moz-transform:scale(1400);
  -webkit-transform:scale(1400);
  transform:scale(1400);

  background: -moz-radial-gradient(center, ellipse cover,  rgba(0,183,234,0.5) 0%, rgba(0,182,233,0.5) 3%, rgba(0,182,233,0.4) 4%, rgba(0,175,226,0.4) 22%, rgba(0,175,226,0.3) 23%, rgba(0,164,215,0.3) 49%, rgba(0,164,215,0.2) 50%, rgba(0,156,207,0.2) 68%, rgba(0,155,206,0) 71%, rgba(0,142,193,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,183,234,0.5)), color-stop(3%,rgba(0,182,233,0.5)), color-stop(4%,rgba(0,182,233,0.4)), color-stop(22%,rgba(0,175,226,0.4)), color-stop(23%,rgba(0,175,226,0.3)), color-stop(49%,rgba(0,164,215,0.3)), color-stop(50%,rgba(0,164,215,0.2)), color-stop(68%,rgba(0,156,207,0.2)), color-stop(71%,rgba(0,155,206,0)), color-stop(100%,rgba(0,142,193,0))); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,183,234,0.5) 0%,rgba(0,182,233,0.5) 3%,rgba(0,182,233,0.4) 4%,rgba(0,175,226,0.4) 22%,rgba(0,175,226,0.3) 23%,rgba(0,164,215,0.3) 49%,rgba(0,164,215,0.2) 50%,rgba(0,156,207,0.2) 68%,rgba(0,155,206,0) 71%,rgba(0,142,193,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  rgba(0,183,234,0.5) 0%,rgba(0,182,233,0.5) 3%,rgba(0,182,233,0.4) 4%,rgba(0,175,226,0.4) 22%,rgba(0,175,226,0.3) 23%,rgba(0,164,215,0.3) 49%,rgba(0,164,215,0.2) 50%,rgba(0,156,207,0.2) 68%,rgba(0,155,206,0) 71%,rgba(0,142,193,0) 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  rgba(0,183,234,0.5) 0%,rgba(0,182,233,0.5) 3%,rgba(0,182,233,0.4) 4%,rgba(0,175,226,0.4) 22%,rgba(0,175,226,0.3) 23%,rgba(0,164,215,0.3) 49%,rgba(0,164,215,0.2) 50%,rgba(0,156,207,0.2) 68%,rgba(0,155,206,0) 71%,rgba(0,142,193,0) 100%); /* IE10+ */
  background: radial-gradient(ellipse at center,  rgba(0,183,234,0.5) 0%,rgba(0,182,233,0.5) 3%,rgba(0,182,233,0.4) 4%,rgba(0,175,226,0.4) 22%,rgba(0,175,226,0.3) 23%,rgba(0,164,215,0.3) 49%,rgba(0,164,215,0.2) 50%,rgba(0,156,207,0.2) 68%,rgba(0,155,206,0) 71%,rgba(0,142,193,0) 100%); /* W3C */

  opacity: 0.8;
  pointer-events: none;
}

#home b:after {

  position: absolute;
  left:-1ex;
  top:-1ex;
  content: 'BT';
  font-size: 14px;
  line-height: normal;
  font-weight: 100;
  font-family: helvetica;
  text-align: center;
  color: white;
  background: darkblue;
  border-radius: 50px;
  padding: 2px;
}


#bt1 {
  bottom: 20px;
  left: 200px;
}

#bt2 {
  top: 20px;
  right: 100px;
}
