html,
body{
    background-color:#111; font-family:arial,verdana,sans-serif; margin:0; padding:0;
    color:#eee;
    margin:0;
    padding:0;
}

body {
  height: 100%;
  width: 100%;
  padding: 100px 0 0 0;
  overflow: hidden;
}

#btToggle {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 70px;
  z-index: 1;
}

.draggable {
  cursor: pointer;
}

* {
    z-index: 0;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    /* No support for these yet, use at own risk */
    -o-user-select: none;
    user-select: none;
    cursor: default;
}











#home,
#home * {
  display: block;
  padding: 0;
  margin: 0;
  font-size: 0;
  line-height: 0;
}

#home {
  position: relative;
  width: 1000px;
  height: 450px;

  /*background: #F2ECDC;*/
  background: #E2DCCC;
  margin: 0 auto;
}

#home:after,
.wall {
  border: 8px solid #535353;
}

#home:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /*border: 8px solid #333;*/
  z-index: 100;
  pointer-events: none;
}

#home * {
  position: absolute;
}

.wall {
  width: 8px;
  height: 8px;
  /*border: 0 solid #333;*/
  border-width: 0;
  background: transparent;
  z-index: -10;
  top: 0;
  left: 0;
}

#wall1 {
  height: 80px;
  border-top-width: 300px;
  border-bottom-width: 300px;
  border-bottom-width: 130px;
  border-top-width: 200px;
  height: 120px;
  left: 550px;

}


#stove {
  right: 6px;
  bottom: 110px;
  width: 60px;
  height: 60px;
  background: white;
  border:3px solid #666;
}

#stove:after {
  top: 0px;
  color: #222222;
  content: "\281b";
  display: block;
  font-size: 140px;
  line-height: 99px;
  position: absolute;
  right: -20px;
}

#counter {
  right: 6px;
  bottom: 6px;
  width: 55px;
  height: 200px;
  background: white;
  border:3px solid #666;
}

#counter:after {
    background: skyblue;
    border-radius: 8px 8px 8px 8px;
    bottom: 20px;
    content: "";
    display: block;
    height: 50px;
    position: absolute;
    right: 10px;
    width: 36px;

}
